.button.start { /* using button.start to give it priority so its not overwritten by root */
    -fx-background-color: #647FBC;
    -fx-text-fill: #FAFDD6;
    -fx-pref-width: 200px;
    -fx-pref-height: 20px;
    -fx-font-size: 20px;
    -fx-font-family: "Lucida Console";
}

.button.start:hover {
    -fx-background-color: #91ADC8;
}

.button.start:pressed {
    -fx-pref-width: 195px;
    -fx-pref-height: 19px;
    -fx-font-size: 19px;

}

.stateLabel {
    -fx-font-family: "Lucida Console";
    -fx-padding: 0 0 -15 0; 
}

.round {
    -fx-font-family: "Lucida Console";
    -fx-padding: 3 0 -10 0;
}

.root {
    -fx-background-color: #AED6CF;
}